<!DOCTYPE html>
<!-- <html dir="rtl" lang="ar"> -->
<html lang="en">
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>
		JC Pro - {% block title %}{% endblock %}
	</title>
	
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="/static/assets/img/icon.ico" type="image/x-icon"/>

	<!-- Fonts and icons -->
	<script src="/static/assets/js/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: {"families":["Lato:300,400,700,900"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], 
			urls: ['/static/assets/css/fonts.min.css']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!-- CSS Files -->
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/css/atlantis.css">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="/static/assets/css/demo.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body data-background-color="bg3">

	<div class="wrapper {% block layout %}{% endblock layout %}">

		{% include 'includes/navigation.html' %}

		{% include 'includes/sidenav.html' %}

		<div class="main-panel">

			<div class="content">

				{% block content %}{% endblock content %}
			
			</div>

			{% include 'includes/footer.html' %}

		</div>
		
		{% include 'includes/aside-settings.html' %}

	</div>

	{% include 'includes/scripts.html' %}

	<!-- Specific JS goes HERE -->
    {% block javascripts %}{% endblock javascripts %}
	
</body>
</html>