
{% extends "layouts/default.html" %}

{% block title %} Management {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/chosen.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">

{% endblock stylesheets %}

{% block content %}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Attributes Management</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Admin Links</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Attributes</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="form-group row">
                            <select class="form-control col-md-4" id="attrSelect">
                                <option>Loading...</option>
                            </select>
                            <div class="col-md-4">Management</div>
                        </div>

<!--                             <select id="attrChoice">
                                <option selected value="base">Attribute</option>
                                <option value="cut">Cut</option>
                                <option value="title">Title</option>
                            </select>
 -->   
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group form-floating-label">
                                <input id="first_name" type="text" class="form-control form-control-sm input-border-bottom" required>
                                <label for="first_name" class="placeholder form-control-sm">Name</label>
                            </div>

                        </div>
                    </div>
                </div>
<!--             </div>
            <div class="card"> -->
                <hr>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="attList" class="display table table-bordered table-head-bg-primary table-striped nowrap table-hover" >
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
    var dtable = null;
    function updateAttributesTable(attribute) {
        if ((dtable !== null) && (typeof dtable.fnDestroy === "function")) {
            console.log("Deleting...");
            dtable.fnDestroy();
            $('#attList').empty();
        }

        var data,
            tableName = '#attList',
            columns = [],
            xhr = $.ajax('/db/api/attributes/' + attribute)
                .done(function () {
                    resp = JSON.parse(xhr.responseText);

                    for (var key in resp.data[0].value) {
                        // console.log(key, resp.data[0].value[key]);
                        // columns.push({title: key.toUpperCase(), data: "value." + key});
                        columns[columns.length] = {title: key.charAt(0).toUpperCase()+key.slice(1), data: "value." + key};
                    }
                    console.log(columns);

                    dtable = $(tableName).dataTable({
                        data: resp.data,
                        columns: columns.reverse(),
                        fnInitComplete: function () {
                            // Event handler to be fired when rendering is complete (Turn off Loading gif for example)
                            console.log('Datatable rendering complete');
                        }
                    });
                })
                .fail(function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    $.notify({
                        icon: 'flaticon-alarm-1',
                        title: 'Error',
                        message: msg,
                    },{
                        type: 'danger',
                        placement: {
                            from: "bottom",
                            align: "right"
                        },
                        time: 1000,
                    });

                    console.log(msg);
                });
    }
    $(document).ready(function() {
        var url = "/db/api/attributeskeys";
        $.getJSON(url, function(json){
            var $select_elem = $("#attrSelect");
            $select_elem.empty();
            $.each(json.data, function (idx, obj) {
                console.log(idx, obj);
                $select_elem.append('<option value="' + obj.key + '">' + obj.key + '</option>');
            });
            $select_elem.chosen();
        })

        // $('#attrSelect').ajaxAddOption('/db/api/attributeskeys', {}, false);
        $("select").on('change', function() {
            var attr = this.value;
            console.log(this.value);
            updateAttributesTable(attr);
        })
            // setTimeout(function(){ updateAttributesTable('title'); }, 100);


        // $("#attLista").dataTable({
        //     ajax: {
        //         url: '/db/api/attributes/title',
        //         error: function (xhr) {
        //             console.error('Error', 'API Error [' + xhr.status + ']', error)
        //         }
        //     },
        //     // "data": data.data,
        //     "columns": [
        //         {title: "Abbreviation", data: "value.Abbreviation"},
        //         {title: "Description", data: "value.Description"}
        //     ],
        //     "fnInitComplete": function () {
        //         // Event handler to be fired when rendering is complete (Turn off Loading gif for example)
        //         console.log('Datatable rendering complete');
        //     }
        // });

    } );
</script>
<script src="/static/assets/js/chosen.jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.bootstrap4.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.23/moment-timezone-with-data.min.js"></script>
 -->

<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
 -->
{% endblock javascripts %}
