
{% extends "layouts/default.html" %}

{% block title %} Management {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">

{% endblock stylesheets %}

{% block content %}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Customer Management</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Entity Management</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Customer</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
<!--                 <div class="card-header">
                    <div class="card-title">Entity Detail</div>
                </div> -->
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="selectgroup w-100">
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Customer" class="selectgroup-input" checked="">
                                    <span class="selectgroup-button form-control-sm">Customer</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Vendor" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">Vendor</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Expense" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">Expense</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Supplier" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">Supplier</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Boolean" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">Boolean</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Employee" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">Employee</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Worker" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">Worker</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="User" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">User</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Interest" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">Interest</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="checkbox" id="entity_type" name="value" value="Wholesaler" class="selectgroup-input">
                                    <span class="selectgroup-button form-control-sm">Wholesaler</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group row">
                                <div class="form-group form-floating-label col-md-4">
                                    <input id="uid" type="text" class="form-control  form-control-sm input-border-bottom" required>
                                    <label for="uid" class="placeholder form-control-sm">ID</label>
                                </div>
                                <div class="form-group form-floating-label col-md-6">
                                    <select class="form-control input-border-bottom form-control-sm" id="title" required>
                                        <option value="">&nbsp;</option>
                                        <option>Mr</option>
                                        <option>Mrs</option>
                                        <option>Dr</option>
                                        <option>Ms.</option>
                                        <option>Sri</option>
                                    </select>
                                    <label for="title" class="placeholder">Title</label>
                                </div>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="first_name" type="text" class="form-control form-control-sm input-border-bottom" required>
                                <label for="first_name" class="placeholder form-control-sm">Name</label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="email" type="text" class="form-control form-control-sm input-border-bottom" required>
                                <label for="email" class="placeholder form-control-sm">
                                    <i class="far fa-envelope"></i>
                                </label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="mobile" type="text" class="form-control form-control-sm input-border-bottom" required>
                                <label for="mobile" class="placeholder form-control-sm">
                                    <i class="fas fa-mobile-alt"></i>
                                </label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="inputOffPhone" type="text" class="form-control form-control-sm input-border-bottom" required>
                                <label for="inputOffPhone" class="placeholder form-control-sm">
                                    <i class="icon-phone"></i>
                                </label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="inputWhatsapp" type="text" class="form-control form-control-sm input-border-bottom" required>
                                <label for="inputWhatsapp" class="placeholder form-control-sm">
                                    <i class="fab fa-whatsapp"></i>
                                </label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="inputCompany" type="text" class="form-control  form-control-sm input-border-bottom" required>
                                <label for="inputCompany" class="placeholder form-control-sm">Company</label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="inputDesignation" type="text" class="form-control  form-control-sm input-border-bottom" required>
                                <label for="inputDesignation" class="placeholder form-control-sm">Designation</label>
                            </div>
                            <div class="form-group">
                                <div class="selectgroup w-100">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="Male" class="selectgroup-input" checked="">
                                        <span class="selectgroup-button form-control-sm">Male</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="Female" class="selectgroup-input">
                                        <span class="selectgroup-button form-control-sm">Female</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="Other" class="selectgroup-input">
                                        <span class="selectgroup-button form-control-sm">Other</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="inputLogin" type="text" class="form-control form-control-sm input-border-bottom" required>
                                <label for="inputLogin" class="placeholder form-control-sm">Login ID</label>
                            </div>
                        </div>
                    </div>
                </div>
<!--             </div>
            <div class="card"> -->
                <hr>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="entList" class="display table table-bordered table-head-bg-primary table-striped nowrap table-hover" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>City</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">

    function updateForm(data) {
        for (let i in data) {
            console.log(i, data[i]);
            $('#'+i).val(data[i]);
            if (i === "entity_type") {
                
            }
        }
    }

    $(document).ready(function() {
        var table = $('#entList').DataTable( {
            dom: 'Bfrtip',
            ajax: {
                url: '/db/api/customers/search?items=100',
                error: function (xhr) {
                    console.error('Error', 'API Error [' + xhr.status + ']', error)
                }
            },
            columns: [
                { data: "uid" },
                {
                    data: "created_at",
                    render: function (data) {
                        return moment.utc(data).local().format('YYYY-MM-DD HH:mm');
                    }
                },
                { data: "first_name" },
                { data: "city" },
                { data: "mobile" },
                { data: "email" },
                { data: "address1" }
            ],
            buttons: [
                // 'selected',
                // 'selectedSingle',
                // 'selectAll',
                // 'selectNone',
                // 'selectRows',
                // 'selectColumns',
                // 'selectCells',
                {
                    text: 'Row selected data',
                    action: function ( e, dt, node, config ) {
                        alert(
                            'Row data: '+
                            JSON.stringify( dt.row( { selected: true } ).data() )
                        );
                    },
                    enabled: false
                },
                {
                    text: 'Count rows selected',
                    action: function ( e, dt, node, config ) {
                        alert( 'Rows: '+ dt.rows( { selected: true } ).count() );
                    },
                    enabled: false
                }
            ],
            select: true,
            lengthChange: false
        } );

    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );

    table.on( 'select deselect', function () {
        var selectedRows = table.rows( { selected: true } ).count();
 
        if (selectedRows === 1) {
            $('#inputID').val(table.row({selected: true}).data().uid);
            updateForm(table.row({selected: true}).data());
        }
        table.button( 0 ).enable( selectedRows === 1 );
        table.button( 1 ).enable( selectedRows > 0 );
    } );

        // $('#entList tbody').on( 'click', 'tr', function () {
        //     if (table.rows('.selected').data().length == 1) {
        //         var rowData = table.row( this ).data();
        //         // console.log(rowData.uid);
        //         $('#ent_id').val(rowData.uid)
        //     }
        // } );
     
        // $('#buttond').click( function () {
        //     alert( table.rows('.selected').data().length +' row(s) selected' );
        // } );
    } );
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.bootstrap4.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.23/moment-timezone-with-data.min.js"></script>
 -->

<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
 -->
{% endblock javascripts %}
