
{% extends "layouts/no-nav.html" %}

{% block title %} Login {% endblock title %}

{% block layout %} center-wrapper {% endblock layout %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title"></h4>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>
                                Welcome to JC Pro
                            </span>
                        </div>
                    </div>

                    <form method="post" action="">

                        {{ form.hidden_tag() }}

                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-4">

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-user"></i>
                                                </span>
                                            </div>
                                            {{ form.username(placeholder="Username", class="form-control") }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </div>
                                            {{ form.password(placeholder="Password", class="form-control", type="password") }}
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-sign">Remember me</span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Submit</button>
                            &nbsp; &nbsp;
                            <span></span><a href="{{ url_for('register') }}">Forgot Password?</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    {% if msg %}
    <script>
            jQuery(document).ready(function() {
                swal("{{ msg | safe }}", {
                    buttons: false,
                    timer: 2000,
                });
            });
    </script>
    {% endif %}
{% endblock javascripts %}
