
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              Dashboard Dark
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright ml-auto">
        JC Pro&copy; 2020.
      </div>				
    </div>
  </footer>
