
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">
					
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

					{% if current_user.is_authenticated %}
						<div class="user">
							<div class="avatar-sm float-left mr-2">
								<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
							</div>
							<div class="info">
								<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
									<span>
										{{ current_user.user.user }}
										<span class="user-level">
											{{ current_user.name }}  
										</span>
										<span class="caret"></span>
									</span>
								</a>
								<div class="clearfix"></div>

								<div class="collapse in" id="collapseExample">
									<ul class="nav">
										<li>
											<a href="#profile">
												<span class="link-collapse">My Profile</span>
											</a>
										</li>
										<li>
											<a href="{{ url_for('logout') }}" >
												<span class="link-collapse">Logout</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<ul class="nav nav-primary">
							<li class="nav-item active">
								<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
									<i class="fas fa-home"></i>
									<p>Dashboard</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="dashboard">
									<ul class="nav nav-collapse">
										<li>
											<a href="/">
												<span class="sub-item">Dashboard 1</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<h4 class="text-section">Components</h4>
							</li>

							<li class="nav-item">
								<a data-toggle="collapse" href="#admin">
									<i class="fas fa-user-ninja"></i>
									<p>Admin Links</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="admin">
									<ul class="nav nav-collapse">
										<li>
											<a href="#">
												<span class="sub-item">ParcelDef</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">TemplateDef</span>
											</a>
										</li>
										<li>
											<a href="/attributes">
												<span class="sub-item">Attributes</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Manage Desk</span>
											</a>
										</li>
									</ul>
								</div>
							</li>

							<li class="nav-item">
								<a data-toggle="collapse" href="#entities">
									<i class="fas fa-user"></i>
									<p>Entity Management</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="entities">
									<ul class="nav nav-collapse">
										<li>
											<a href="/entities">
												<span class="sub-item">Customer</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Vendor</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Employee</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Expense</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Supplier</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">WHolesaler</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Bank Account</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">User</span>
											</a>
										</li>
									</ul>
								</div>
							</li>

							<li class="nav-item">
								<a data-toggle="collapse" href="#base">
									<i class="fas fa-layer-group"></i>
									<p>Base</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="base">
									<ul class="nav nav-collapse">
										<li>
											<a href="/avatars">
												<span class="sub-item">Avatars</span>
											</a>
										</li>
										<li>
											<a href="/buttons">
												<span class="sub-item">Buttons</span>
											</a>
										</li>
										<li>
											<a href="/gridsystem">
												<span class="sub-item">Grid System</span>
											</a>
										</li>
										<li>
											<a href="/panels">
												<span class="sub-item">Panels</span>
											</a>
										</li>
										<li>
											<a href="/notifications">
												<span class="sub-item">Notifications</span>
											</a>
										</li>
										<li>
											<a href="/sweetalert">
												<span class="sub-item">Sweet Alert</span>
											</a>
										</li>
										<li>
											<a href="/font-awesome-icons">
												<span class="sub-item">Font Awesome Icons</span>
											</a>
										</li>
										<li>
											<a href="/simple-line-icons">
												<span class="sub-item">Simple Line Icons</span>
											</a>
										</li>
										<li>
											<a href="/flaticons">
												<span class="sub-item">Flaticons</span>
											</a>
										</li>
										<li>
											<a href="/typography">
												<span class="sub-item">Typography</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#sidebarLayouts">
									<i class="fas fa-th-list"></i>
									<p>Sidebar Layouts</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="sidebarLayouts">
									<ul class="nav nav-collapse">
										<li>
											<a href="/sidebar-style-1">
												<span class="sub-item">Sidebar Style 1</span>
											</a>
										</li>
										<li>
											<a href="/overlay-sidebar">
												<span class="sub-item">Overlay Sidebar</span>
											</a>
										</li>
										<li>
											<a href="/compact-sidebar">
												<span class="sub-item">Compact Sidebar</span>
											</a>
										</li>
										<li>
											<a href="/static-sidebar">
												<span class="sub-item">Static Sidebar</span>
											</a>
										</li>
										<li>
											<a href="/icon-menu">
												<span class="sub-item">Icon Menu</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#forms">
									<i class="fas fa-pen-square"></i>
									<p>Forms</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="forms">
									<ul class="nav nav-collapse">
										<li>
											<a href="/forms">
												<span class="sub-item">Basic Form</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#tables">
									<i class="fas fa-table"></i>
									<p>Tables</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="tables">
									<ul class="nav nav-collapse">
										<li>
											<a href="/tables">
												<span class="sub-item">Basic Table</span>
											</a>
										</li>
										<li>
											<a href="/datatables">
												<span class="sub-item">Datatables</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#maps">
									<i class="fas fa-map-marker-alt"></i>
									<p>Maps</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="maps">
									<ul class="nav nav-collapse">
										<li>
											<a href="/jqvmap">
												<span class="sub-item">JQVMap</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#charts">
									<i class="far fa-chart-bar"></i>
									<p>Charts</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="charts">
									<ul class="nav nav-collapse">
										<li>
											<a href="/charts">
												<span class="sub-item">Chart Js</span>
											</a>
										</li>
										<li>
											<a href="/sparkline">
												<span class="sub-item">Sparkline</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a href="/widgets">
									<i class="fas fa-desktop"></i>
									<p>Widgets</p>
									<span class="badge badge-success">4</span>
								</a>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#submenu">
									<i class="fas fa-bars"></i>
									<p>Menu Levels</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="submenu">
									<ul class="nav nav-collapse">
										<li>
											<a data-toggle="collapse" href="#subnav1">
												<span class="sub-item">Level 1</span>
												<span class="caret"></span>
											</a>
											<div class="collapse" id="subnav1">
												<ul class="nav nav-collapse subnav">
													<li>
														<a href="#">
															<span class="sub-item">Level 2</span>
														</a>
													</li>
													<li>
														<a href="#">
															<span class="sub-item">Level 2</span>
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<a data-toggle="collapse" href="#subnav2">
												<span class="sub-item">Level 1</span>
												<span class="caret"></span>
											</a>
											<div class="collapse" id="subnav2">
												<ul class="nav nav-collapse subnav">
													<li>
														<a href="#">
															<span class="sub-item">Level 2</span>
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Level 1</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>	
					{% endif %}		

				</div>
			</div>
		</div>
		<!-- End Sidebar -->
